
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/Adminscripts/AddAdmin.js"></script>
<link rel="stylesheet" href="~/Content/Login/login.css" />
<div class="bg-image-container">
    <div class="login-container">
        <h3>Add New Admin</h3>
        <!-- form -->
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" required>
            </div>
            <div class="input-group">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirn Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
            </div>
            <div class="info" id="info"></div>
            <button type="button" class="login-button" id="submitBtn">Add</button>
        </form>
    </div>
</div>