
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<script src="~/Scripts/Adminscripts/GetAllClient.js"></script>
<div class="main">
    <div class="row">

    </div>
    </div>